.blog-details {
    flex: .8;
    padding: 30px;
}

.blog-details .blog-details-img {
    margin-bottom: 10px;
    max-width: 850px;
    margin: 0 auto;
}

.blog-details .blog-details-img img {
    height: 450px;
}

.blog-details h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-details p {
    color: #d8d8d8;
    letter-spacing: 0.7px;
    line-height: 2;
}

@media (max-width: 767.98px) {
    .blog-details {
        flex: 1;
    }

    .blog-details .blog-details-img img {
        height: 250px;
    }
}