.movie {
    display: flex;
    flex: .8;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px;
}

.movie h1 {
    flex-basis: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    color: #F3F3F3;
    font-weight: 400;
}

.movie>.movieItem {
    flex-basis: 25%;
    padding: 0 15px;
    margin-bottom: 65px;
}

.movie>.movieItem img {
    width: 100%;
}

.movie__title {
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}

.details-btn {
    display: block;
    padding: 5px;
    background-color: #191C1F;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 13px;
    transition: all .3s linear;
    border: 1px solid transparent;
}

.details-btn:hover {
    background-color: #222B31;
    border-color: #191C1F;
}

@media (max-width: 767px) {
    .movie>.movieItem {
        flex-basis: 50%;
        /* max-width: 265px;
        margin-left: auto;
        margin-right: auto; */
    }
}

@media (max-width: 576px) {
    .movie {
        flex: 1 100%;
        padding: 15px;
    }

    .movie>.movieItem {
        flex-basis: 100%;
        max-width: 265px;
        margin-left: auto;
        margin-right: auto;
    }
}